<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Global News</h1>
    <form action="/" method="POST">
        {% csrf_token %}
        <input type="text" name="search" placeholder="Enter Search Term">
        <input type="submit" value="Search">
    </form>

    <div>
        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <h4>{{ article.author }}</h4>
                <p>{{ article.description }}</p>
            </article>
    {% endfor %}
    </div>
    
</body>
</html>